<div id="room">
    <div class="page-header">
        <h2>{{roomname | uppercase }}</h2>
    </div>
    <div ng-show="message" class="alert" ng-class="{'alert-danger': isError, 'alert-success': !isError}" role="alert">{{message}}</div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" ng-repeat="user in users" class="btn btn-default space-out" ng-class="{'btn-success': user.isOnline}" disabled="disabled">{{user.username}}</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 margin-top-25" id="messages-container">
            <div ng-repeat="notification in notifications">
                <strong>[{{notification.created | date : 'shortTime'}}] </strong>
                <strong>&lt; {{notification.username}} &gt; </strong>
                <p class="well well-sm">{{notification.content}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea class="form-control" rows="4" placeholder="Type message here .." ng-model="content"></textarea>
            <button type="button" class="btn btn-primary margin-top-25" ng-click="sendNotification(content)">Send</button>
        </div>
    </div>
</div>