.margin-top-25 {
	margin-top: 25px;
}
.margin-bottom-25 {
	margin-bottom: 25px;
}
.jumbotron {
	padding: 40px;
}
body {
	padding: 20px;
}
.well {
	display: inline-block;
	margin-left: 10px;
}
.space-out{
	margin-right: 10px;
	margin-bottom: 10px;	
}
h1 a {
	text-decoration: none;
}